In [1]:
from pyspark.sql import SparkSession
data_path = '/Users/quangly/github/Spark SQL/Data'

In [5]:
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [6]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [9]:
df1.count()

500000

withReplacement - when removing a row never put back in to prevent duplicates

In [11]:
df_s1 = df1.sample(fraction=0.1,withReplacement=False)

In [12]:
df_s1.count()

50108

In [16]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.329787234042552|
|       loc1|28.382978723404257|
|      loc10|25.208791208791208|
|     loc100|             27.45|
|     loc101|25.408163265306122|
|     loc102| 30.41111111111111|
|     loc103|25.397849462365592|
|     loc104|26.277227722772277|
|     loc105|25.858823529411765|
|     loc106|27.336633663366335|
+-----------+------------------+
only showing top 10 rows

In [17]:
df1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows

In [ ]:
df_s2 = df1.sample(fraction=0.001,withReplacement=False)

In [ ]:
df_s2.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)