In [1]:
data_path = '/Users/danielsullivan/LinkedIn Learning/Spark SQL/data'

In [2]:
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [3]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [4]:
df1.filter(df1["location_id"]=="loc0").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [5]:
df1.filter(df1["location_id"]=="loc0").count()

1000

In [6]:
df1.filter(df1["location_id"]=="loc1").count()

1000

In [7]:
df1.filter("location_id = 'loc1'").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows