In [1]:
data_path = '/Users/danielsullivan/LinkedIn Learning/Spark SQL/data'

In [2]:
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [3]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [4]:
df1.count()

500000

In [5]:
df_s1 = df1.sample(fraction=0.1,withReplacement=False)

In [6]:
df_s1.count()

49891

In [7]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|28.862385321100916|
|     loc226|24.857142857142858|
|     loc463| 22.97752808988764|
|     loc150| 32.40869565217391|
|     loc292|29.166666666666668|
|     loc311| 23.91304347826087|
|      loc22|28.263736263736263|
|     loc351|28.509615384615383|
|     loc370|28.865168539325843|
|     loc419|29.322222222222223|
+-----------+------------------+
only showing top 10 rows

In [8]:
df_s1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|28.857142857142858|
|       loc1|28.264150943396228|
|      loc10| 25.63809523809524|
|     loc100|27.118181818181817|
|     loc101|25.367816091954023|
|     loc102|30.597560975609756|
|     loc103| 25.26595744680851|
|     loc104|26.414893617021278|
|     loc105| 26.70731707317073|
|     loc106| 27.33684210526316|
+-----------+------------------+
only showing top 10 rows

In [9]:
df1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows

In [10]:
df_s2 = df1.sample(fraction=0.001,withReplacement=False)

In [11]:
df_s2.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc1|              27.0|
|      loc10|              23.0|
|     loc100|28.666666666666668|
|     loc101|              23.0|
|     loc102|              30.0|
|     loc103|23.333333333333332|
|     loc105|              26.0|
|     loc106|27.666666666666668|
|     loc107|              31.0|
|      loc11|              26.8|
+-----------+------------------+
only showing top 10 rows